/******************************************************************************/
/*                                                                            */
/*   PDF LAYOUT CONFIGURATION                                                 */
/*   ------------------------                                                 */
/*  Adjust the values here to suit your requirements.                         */
/*                                                                            */
/*    - Sizes are in mm                                                       */
/*    - Each different page size in a style sheet will require a              */
/*      correctly formatted .page PDF printer configuration file              */
/*                                                                            */
/******************************************************************************/
:root {
  /* Configuration - modify these values as needed */
    --page-margin: 6;
    --page-width: 210;
    --page-height: 297;
}

/* Must match --page width, --page-height and --page-margin */
@page {
    size: A4;
    margin: 0;
}

/* End of layout configuration */


/******************************************************************************/
/*                                                                            */
/*  REQUIRED                                                                  */
/*  --------                                                                  */
/*  Only modify if you understand the implications                            */
/*                                                                            */
/******************************************************************************/
html, body {
    width: calc(var(--page-width) * 1mm);
    height: calc((var(--page-height) * .999) * 1mm);

}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

.page {
    height: calc((var(--page-height) * .999) * 1mm);
    width: calc(var(--page-width) * 1mm);
    padding: calc(var(--page-margin) * 1mm);
    border: 0.5mm #D3D3D3 solid;
    border-radius: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.subpage {
    /* show the margin (form design helper, not printed) */
    border: .5mm red solid;
    /* Height needs to be slightly shorter to prevent creation of a blank page */
    height: calc(((var(--page-height) - (var(--page-margin) * 2)) *.999) * 1mm);
    width: calc((var(--page-width) - calc(var(--page-margin) * 2)) * 1mm);
}

@media print {
    .page {
        margin: 0;
        border: none;
        box-shadow: none;
        background: white;
    }

    .subpage {
        /* Critical for correct page rendering - prevents extra blank pages */
        border: .5mm white solid;
    }
}
/* End of required section */
